<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar prodcutos</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario y productos</title>
    <link rel="stylesheet" href="Crear_producto.css">
</head>
<body>
    <h1>Software de facturacion web</h1>
    <section class="header">
        <div class="logo">
            <img src="descarga (2).jpeg" alt="Logo de la marca">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
            
            
            </ul>            
        </nav>
        <a class="btn" href="#"><button>Contactos</button></a>
    </section><br><br>
    <h2 style="text-align: center;">Usuarios</h2>
    <table style="width: 100%;">
        <tr>
            <th >
                Editar Producto
            </th>
        </tr>
        <tr></tr>
       
            <td class="caja_producto" style="text-align: center;">
                &nbsp;<label id="imagen">Imagen</label><br>
                &nbsp;<input style=" width: 240px" type="file" src="" name="imagen" class="espacio"><br><br>
                &nbsp;<input style=" width: 240px" type="text" name="descripcion" class="espacio" placeholder="Nombre producto"><br><br>
                &nbsp;<label id="id_producto">Id producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_producto" class="espacio" ><br><br>
                &nbsp;<input style=" width: 240px" type="float" name="valor_unitario" class="espacio"   placeholder="Ingrese precio unitario"><br><br>
                &nbsp;<input style=" width: 240px" type="text" name="unidad_de_medida"  class= "espacio"  placeholder="ingrese su peso o unidad de medida"><br><br>
                &nbsp;<input style=" width: 240px" type="int" name="cantidad_stock" class="espacio"   placeholder="Cantidad en stock"><br><br>
                &nbsp;<label id="id_categoria">Id categoria</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_categoria" class="espacio" ><br><br>
                &nbsp;<label id="id_usuario">Id usuario</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_usuario" class="espacio" ><br><br>
                &nbsp;<label id="id_categoria">Id factura producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura_producto" class="espacio" ><br><br>
                &nbsp;<button>
                    <span>Editar</span>
                </button>
            
            </td>

            
        </tr>
    </table>
    
</body>
</html>