<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ç, initial-scale=1.0">
    <title>factura_producto</title>
    <link rel="stylesheet" href="factura_producto.css">
</head>
<body>
    <h1>Software de facturacion web</h1>
    <section class="header">
        <div class="logo">
            <img src="descarga (2).jpeg" alt="Logo de la marca">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/empezar">Inicio</a></li>
            
                <li><a href="/Iniciar_sesion">Usuarios</a></li>
            </ul>            
        </nav>
        <a class="btn" href="#"><button>Contactos</button></a>
    </section><br><br>
    <h2>Factura producto</h2>
    <table>
        <tr>
            <td>
                &nbsp;<img src="pan.webp" alt="" class="product-img"><br>
                &nbsp;<input style=" width: 240px" type="text" name="nombre_producto" class="espacio" placeholder="Nombre producto"><br><br>
                &nbsp;<label id="id_factura_producto">Id factura producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura_producto" class="espacio" ><br><br>
                &nbsp;<input style=" width: 240px" type="float" name="precio_unitario" class="espacio"   placeholder="Producto precio unitario"><br><br>
                &nbsp;<input style=" width: 240px" type="text" name="unidad_de_medida"  class= "espacio"  placeholder="Producto peso o unidad de medida"><br><br>
                &nbsp;<input style=" width: 240px" type="int" name="cantidad" class="espacio"   placeholder="Cantidad requerida"><br><br>
                &nbsp;<label id="id_cliente">Id cliente</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_cliente" class="espacio" ><br><br>
                &nbsp;<label id="id_factura">Id factura</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura" class="espacio" ><br><br>
                &nbsp;<a href="/comprar_dos">Comprar</a>
                &nbsp;<a href="/seguir">Seguir comprando</a>

            <td>
                &nbsp;<img src="pan.webp" alt="" class="product-img"><br>
                &nbsp;<input style=" width: 240px" type="text" name="nombre_producto" class="espacio" placeholder="Nombre producto"><br><br>
                &nbsp;<label id="id_factura_producto">Id factura producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura_producto" class="espacio" ><br><br>
                &nbsp;<input style=" width: 240px" type="float" name="precio_unitario" class="espacio"   placeholder="Producto precio unitario"><br><br>
                &nbsp;<input style=" width: 240px" type="text" name="unidad_de_medida"  class= "espacio"  placeholder="Producto peso o unidad de medida"><br><br>
                &nbsp;<input style=" width: 240px" type="int" name="cantidad" class="espacio"   placeholder="Cantidad requerida"><br><br>
                &nbsp;<label id="id_cliente">Id cliente</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_cliente" class="espacio" ><br><br>
                &nbsp;<label id="id_factura">Id factura</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura" class="espacio" ><br><br>
                &nbsp;<a href="/comprar_dos">Comprar</a>
                &nbsp;<a href="/seguir">Seguir comprando</a>
             </td>
        </tr>
    </table>
    
</body>
</html>