<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Inicio.css">
</head>
<body>

<h1>Software de facturacion web</h1>
    <section class="header">
        <div class="logo">
            <img src="descarga (2).jpeg" alt="Logo de la marca">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/contacto">Contactos</a></li>
                
            
                <li><a href="/usuarios">Usuarios</a></li>
            </ul>            
        </nav>
        
    </section><br><br>
<div class="despegable">
    <button class="boton">Categorias</button>
    <div class="link">
        <a href="/Productos">Alimentos</a>
        <a href="/Productos">Ropa</a>
        <a href="/Productos">Hogar</a>
        <a href="/Productos">Mascotas</a>
    </div><br><br>

</div>
<div class="Producto">
    <h2 class="Titulo_productos">Productos en venta</h2><br><br>
    <table>
        <tr>
            <td class="caja_producto">
                
                    &nbsp;<img src="pan.webp" alt="" class="product-img"><br>
                    &nbsp;<input style=" width: 240px" type="text" name="descripcion" class="espacio" placeholder="Nombre producto"><br><br>
                    &nbsp;<label id="id_producto">Id producto</label><br>
                    &nbsp;<input style=" width: 240px" type="int" name="id_producto" class="espacio" ><br><br>
                    &nbsp;<input style=" width: 240px" type="float" name="valor_unitario" class="espacio"   placeholder="Ingrese precio unitario"><br><br>
                    &nbsp;<input style=" width: 240px" type="text" name="unidad_de_medida"  class= "espacio"  placeholder="ingrese su peso o unidad de medida"><br><br>
                    &nbsp;<input style=" width: 240px" type="int" name="cantidad_stock" class="espacio"   placeholder="Cantidad en stock"><br><br>
                    &nbsp;<label id="id_categoria">Id categoria</label><br>
                    &nbsp;<input style=" width: 240px" type="int" name="id_categoria" class="espacio" ><br><br>
                    &nbsp;<label id="id_usuario">Id usuario</label><br>
                    &nbsp;<input style=" width: 240px" type="int" name="id_usuario" class="espacio" ><br><br>
                    &nbsp;<label id="id_categoria">Id factura producto</label><br>
                    &nbsp;<input style=" width: 240px" type="int" name="id_factura_producto" class="espacio" ><br><br>
                    &nbsp;<a href="/comprar">Comprar</a>
                
            </td>
            <td class="caja_producto">
                
                &nbsp;<img src="pan.webp" alt="" class="product-img"><br>
                &nbsp;<input style=" width: 240px" type="text" name="descripcion" class="espacio" placeholder="Nombre producto"><br><br>
                &nbsp;<label id="id_producto">Id producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_producto" class="espacio" ><br><br>
                &nbsp;<input style=" width: 240px" type="float" name="valor_unitario" class="espacio"   placeholder="Ingrese precio unitario"><br><br>
                &nbsp;<input style=" width: 240px" type="text" name="unidad_de_medida"  class= "espacio"  placeholder="ingrese su peso o unidad de medida"><br><br>
                &nbsp;<input style=" width: 240px" type="int" name="cantidad_stock" class="espacio"   placeholder="Cantidad en stock"><br><br>
                &nbsp;<label id="id_categoria">Id categoria</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_categoria" class="espacio" ><br><br>
                &nbsp;<label id="id_usuario">Id usuario</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_usuario" class="espacio" ><br><br>
                &nbsp;<label id="id_categoria">Id factura producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura_producto" class="espacio" ><br><br>
                &nbsp;<a href="/comprar">Comprar</a>
            
            </td>
            <td class="caja_producto">
                
                &nbsp;<img src="pan.webp" alt="" class="product-img"><br>
                &nbsp;<input style=" width: 240px" type="text" name="descripcion" class="espacio" placeholder="Nombre producto"><br><br>
                &nbsp;<label id="id_producto">Id producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_producto" class="espacio" ><br><br>
                &nbsp;<input style=" width: 240px" type="float" name="valor_unitario" class="espacio"   placeholder="Ingrese precio unitario"><br><br>
                &nbsp;<input style=" width: 240px" type="text" name="unidad_de_medida"  class= "espacio"  placeholder="ingrese su peso o unidad de medida"><br><br>
                &nbsp;<input style=" width: 240px" type="int" name="cantidad_stock" class="espacio"   placeholder="Cantidad en stock"><br><br>
                &nbsp;<label id="id_categoria">Id categoria</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_categoria" class="espacio" ><br><br>
                &nbsp;<label id="id_usuario">Id usuario</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_usuario" class="espacio" ><br><br>
                &nbsp;<label id="id_categoria">Id factura producto</label><br>
                &nbsp;<input style=" width: 240px" type="int" name="id_factura_producto" class="espacio" ><br><br>
                &nbsp;<a href="/comprar">Comprar</a>
            
            </td>
        </tr>
    </table>
</div>
        
    
    
    
</body>
</html>